div(data-role='page', id='home', data-fullscreen='true', data-theme='a')
    div#content(data-role='content')
    h1(style='font-family: "Sansita One", cursive;') Oslo Gigs
    div(data-role='collapsible-set', data-theme='a', data-content-theme='b')
    div(data-role='collapsible', data-collapsed='true')
    h3 About this app.
    p An app for listing the price of beer (øl) in the bars and pubs of Oslo.
    div(data-role='collapsible-set', data-theme='a', data-content-theme='b')
    div(data-role='collapsible', data-collapsed='true')
    h3 What's with the sad icons? <img alt=":(" src="images/99.png" />

    div(data-role="footer", data-position="fixed", data-id="tabs")
        div(data-role="navbar")
        ul
            li.index
                a.ui-btn-active.ui-state-persist(href="/") Home
            li.map
                a(href="#") Map
            li.find
                a(href="#") Find


