div(data-role='page', id='home', data-fullscreen='true', data-theme='a')
    div#content(data-role='content')
        h1(style='font-family: "Sansita One", cursive;') Oslo Gigs
        div(data-role='collapsible-set', data-theme='a', data-content-theme='b')
            div(data-role='collapsible', data-collapsed='true')
                h3 About this app.
                p An app for listing the price of beer (øl) in the bars and pubs of Oslo.
            div(data-role='collapsible', data-collapsed='true')
                h3 What's with the sad icons? <img alt=":(" src="images/99.png" />
                p Sad icon is sad. Sad icon doesn't know the price of beer at this location <img src="images/99.png" />
                p If you can either update a price or add a new venue please let me know via the twitter links on the map or tweet me here: <a href="https://twitter.com/@gyaresu">@gyaresu</a>
            div(data-role='collapsible', data-collapsed='true')
                h3 Who are you? / Contact
                p I am a computer geek and scuba diving instructor who now travels the world.
                p I've spent 3 months in Oslo and did notice the price of øl while I was there.
                p This is my attempt to make a useful tool.
                p Gareth's tweets: <a href="https://twitter.com/@gyaresu">@gyaresu</a>
                p Oslo Gigs Email: <a href="mailto:&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#111;&#115;&#108;&#111;&#103;&#105;&#103;&#115;&#046;&#099;&#111;&#109;">&#099;&#111;&#110;&#116;&#097;&#099;&#116;&#064;&#111;&#115;&#108;&#111;&#103;&#105;&#103;&#115;&#046;&#099;&#111;&#109;</a>
                p Oslo Gigs Twitter Notifications: <a href="https://twitter.com/@OsloGigs">@OsloGigs</a>
        p © <a href="http://gareth.com.au">Gareth</a> #{Date()}
    div(data-role="footer", data-position="fixed", data-id="tabs")
            div(data-role="navbar")
                ul
                    li
                        a.ui-btn-active.ui-state-persist(href="/") Home
                    li
                        a(href="mobile") Map
                    li
                        a(href="find") Find


