!!!
html
    head
        title= title
        link(src='/stylesheets/style.css')
        link(src='/stylesheets/add2home.css')
        script(src='/javascripts/add2home.js')
        link(src='http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.css')
        link(src='/stylesheets/map.css')
        link(src='http://fonts.googleapis.com/css?family=Sansita+One')
        link(rel='apple-touch-icon' src='/images/OsloGigs.png')
        script(src='http://code.jquery.com/jquery-1.7.1.min.js')
        script(src='http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.js')
        script(src='http://maps.googleapis.com/maps/api/js?sensor=true')
        script(src='https://raw.github.com/srhyne/jQuery-Parse/master/jquery.parse.js')
        script(src='/javascripts/all.js')
        script(src='/javascripts/twitter.js')
    body!= body
