!!!
html
    head
        title= title
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        meta(http-equiv="content-type", content="text/html; charset=UTF-8")

        link(rel='stylesheet', href='/stylesheets/add2home.css')
        script(src='/javascripts/analytics.js')
        script(src='/javascripts/add2home.js')
        link(rel='stylesheet', href='http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.css')
        link(rel='stylesheet', href='/stylesheets/map.css')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Sansita+One')
        link(rel='apple-touch-icon', href='/images/OsloGigs.png')
        script(src='http://code.jquery.com/jquery-1.7.1.min.js')
        script(src='http://code.jquery.com/mobile/1.1.0-rc.1/jquery.mobile-1.1.0-rc.1.min.js')
        script(src='http://maps.googleapis.com/maps/api/js?sensor=true')
        script(type="application/javascript", src='https://raw.github.com/srhyne/jQuery-Parse/master/jquery.parse.js')
        script(type="application/javascript", src='/javascripts/all.js')
        script(type="application/javascript", src='/javascripts/twitter.js')
    body!= body
