div.page-map(data-role='page', id='mobile', data-fullscreen='true', data-theme='b')
    div#map(data-role='content')
        div#map-canvas()
    div(data-role="footer", data-position="fixed", data-id="tabs")
            div(data-role="navbar")
                ul
                    li
                        a.ui-btn-active.ui-state-persist(href="/") Home
                    li
                        a(href="mobile") Map
                    li
                        a(href="find") Find


